@model JalgrattaEksam.Models.Eksam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Eksam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Eesnimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eesnimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perenimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perenimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teooria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teooria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slaalom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slaalom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ringtee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ringtee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luba)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
