@model IEnumerable<JalgrattaEksam.Models.Eksam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Eesnimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perenimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teooria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slaalom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ringtee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luba)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Eesnimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perenimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teooria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slaalom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ringtee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Luba)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
